{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block page_heading %}Dashboard{% endblock %}

{% block content %}
<form class="user" method="post" action="{% url 'cadastrar_veiculo' %}" onsubmit="return validarPlaca()">
    {% csrf_token %}
    <div class="form-group row align-items-center">
        <div class="col-sm-3">
            <input type="text" class="form-control form-control-user" id="placa" name="placa" placeholder="Digite a placa do veículo">
        </div>
        <div class="col-sm-1">
            <input type="radio" id="carro" name="tipo" value="CARRO">
            <label for="carro">Carro</label>
        </div>
        <div class="col-sm-1">
            <input type="radio" id="motocicleta" name="tipo" value="MOTOCICLETA">
            <label for="motocicleta">Moto</label>
        </div>
        <div class="col-sm-3">
            <select class="form-control form-control-user" id="vaga" name="vaga" onchange="atualizarBarra()">
                <option value="" disabled selected style="display: none;">Selecione a vaga</option>
            </select>
        </div>
        <div class="col-sm-1">
            <div class="selected-vaga" id="vagaSelecionada">Nº Vaga</div>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
        <div class="col-sm-6">
            <div id="mensagemAviso" class="alert alert-danger" style="display:none;">
                Por favor, digite uma placa válida no padrão brasileiro ou do Mercosul.
                <button type="button" class="close" onclick="fecharMensagemAviso()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</form>

{% if success_message %}
<div id="success_message" class="alert alert-success mt-3">
    {{ success_message }}
</div>
{% endif %}

<!-- Content Row -->
<div class="row">
    <!-- Occupation Rate Cars -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Taxa de ocupação por carros</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ taxa_ocupacao_carros }}%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ taxa_ocupacao_carros }}%" aria-valuenow="{{ taxa_ocupacao_carros }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Free Car places  -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Vagas livres para carros</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vagas_carros_livres }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Occupation Rate Bikes -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Taxa de ocupação por motos</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ taxa_ocupacao_motocicletas }}%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ taxa_ocupacao_motocicletas }}%" aria-valuenow="{{ taxa_ocupacao_motocicletas }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Free places -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Vagas livres para motos</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vagas_motocicletas_livres }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Veículos Estacionados -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Veículos Estacionados</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Placa</th>
                        <th>Cadastrado em</th>
                        <th>Atualizado em</th>
                        <th>Tipo</th>
                        <th>Vaga</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for veiculo in veiculos %}
                    <tr>
                        <td>{{ veiculo.placa }}</td>
                        <td>{{ veiculo.cadastrado_em }}</td>
                        <td>{{ veiculo.atualizado_em }}</td>
                        <td>{{ veiculo.get_tipo_display }}</td>
                        <td>{{ veiculo.vaga_id }}</td>
                        <td>
                            <form method="post" action="{% url 'excluir_veiculo' veiculo.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% block scripts %}
<!-- Carregar jQuery, DataTables JS e CSS -->
<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script>
// Função para garantir que o texto seja sempre exibido em caixa alta
document.getElementById('placa').addEventListener('input', function() {
    this.value = this.value.toUpperCase();
});

// Função para validar a placa
function validarPlaca() {
    var placa = document.getElementById('placa').value.toUpperCase();
    var regexPlacaBrasileira = /^[A-Z]{3}-\d{4}$/;
    var regexPlacaMercosul = /^[A-Z]{3}\d[A-Z]\d{2}$/;
    var mensagemAviso = document.getElementById('mensagemAviso');

    if (!regexPlacaBrasileira.test(placa) && !regexPlacaMercosul.test(placa)) {
        mensagemAviso.style.display = 'block';
        return false;
    }
    mensagemAviso.style.display = 'none';
    return true;
}

// Função para fechar a mensagem de aviso
function fecharMensagemAviso() {
    document.getElementById('mensagemAviso').style.display = 'none';
}

// Função para atualizar a barra com o número da vaga selecionada
function atualizarBarra() {
    var selectVaga = document.getElementById('vaga');
    var vagaSelecionada = document.getElementById('vagaSelecionada');
    var numeroVaga = selectVaga.options[selectVaga.selectedIndex].text;
    vagaSelecionada.innerText = "Nº " + numeroVaga;
}

// Função para atualizar as vagas disponíveis com base no tipo de veículo
function atualizarVagasDisponiveis() {
    var tipoVeiculo = document.querySelector('input[name="tipo"]:checked').value;
    var selectVagas = document.getElementById('vaga');

    selectVagas.innerHTML = '';

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/vagas_disponiveis/?tipo=' + tipoVeiculo, true);
    xhr.onload = function () {
        if (xhr.status >= 200 && xhr.status < 400) {
            var vagas = JSON.parse(xhr.responseText);
            vagas.forEach(function(vaga) {
                var option = document.createElement('option');
                option.value = vaga.id;
                option.text = vaga.id;
                selectVagas.appendChild(option);
            });
        } else {
            console.error('Erro ao obter vagas disponíveis');
        }
    };
    xhr.onerror = function () {
        console.error('Erro de conexão');
    };
    xhr.send();
}

// Atualiza as vagas quando o tipo de veículo é alterado
document.querySelectorAll('input[name="tipo"]').forEach(function(radio) {
    radio.addEventListener('change', atualizarVagasDisponiveis);
});

// Configuração do DataTable
$(document).ready(function() {
    var table = $('#dataTable').DataTable({
        "searching": true,
        "ordering": true,
        "paging": true,
        "info": true,
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "Nenhum registro encontrado",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "",
            "infoFiltered": "(filtrado de _MAX_ registros totais)",
            "search": "Buscar:",
            "paginate": {
                "first": "<button class='btn btn-primary btn-sm mr-2'>Primeiro</button>",
                "previous": "<button class='btn btn-primary btn-sm mr-2'>Anterior</button>",
                "next": "<button class='btn btn-primary btn-sm mr-2'>Próximo</button>",
                "last": "<button class='btn btn-primary btn-sm'>Último</button>"
            }
        }
    });

    // Atualiza as vagas quando a tabela for desenhada
    table.on('draw', atualizarVagasDisponiveis);
});

// Oculta a mensagem de sucesso após 3 segundos
function hideSuccessMessage() {
    var successMessage = document.getElementById('success_message');
    if (successMessage) {
        setTimeout(function() {
            successMessage.style.display = 'none';
        }, 3000);
    }
}
hideSuccessMessage();
</script>
{% endblock %}
{% endblock %}
